{
  "openapi": "3.1.0",
  "info": {
    "title": "Document API",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://api.pardocs.com"
    }
  ],
  "paths": {
    "/v1/extractions": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractionsResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractionResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/extractions/{extraction_id}": {
      "patch": {
        "parameters": [
          {
            "name": "extraction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of extraction to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractionResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "extraction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of extraction to delete."
          }
        ],
        "responses": {}
      }
    }
  },
  "components": {
    "schemas": {
      "ExtractionRequest": {
        "type": "object",
        "properties": {
          "extraction_type": {
            "type": "string",
            "description": "The type of the document."
          },
          "extraction_data": {
            "type": "object",
            "description": "The key-value pairs of information extracted from the document."
          }
        }
      },
      "ExtractionResponse": {
        "type": "object",
        "properties": {
          "extraction_id": {
            "type": "string",
            "description": ""
          },
          "extraction_type": {
            "type": "string",
            "description": "The type of the document."
          },
          "extraction_data": {
            "type": "object",
            "description": "The key-value pairs of information extracted from the document."
          },
          "extraction_created_at": {
            "type": "integer",
            "description": ""
          },
          "extraction_updated_at": {
            "type": "integer",
            "description": ""
          }
        }
      },
      "ExtractionsResponse": {
        "title": "Extractions",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ExtractionResponse"
        }
      },
      "Error": {
        "required": [
          "detail"
        ],
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
